.book-list {
    &__item {
        box-shadow: $boxShadowDefault;
        transition: $transitionDefault;
        font-size: 14px;
        &:hover {
            background: white !important;
            transform: scale(1.05);
        }
    }
}