.book-list {
    &__item {
        box-shadow: $boxShadowDefault;
        transition: $transitionDefault;
        font-size: 14px;
        &:hover {
            background: white !important;
            transform: scale(1.05);
        }
    }

    @media screen and (max-width: $maxMobile) {
        .book-list__item  {
            padding: 0.3rem;
            font-size: 12px;
        }
    }
}