.book-list {
    &__item {
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        transition: $transitionDefault;
        font-size: 14px;
        &:hover {
            background: white !important;
            transform: scale(1.05);
        }
    }
}