.spinner-wrapper {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}