body {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-style: normal;
  background-color: #f4f4f4;
}

.page-width {
  max-width: 1400px;
  margin: 0 auto;
}

button {
  transition: all 0.3s ease-in;
}

button:hover {
  transform: scale(1.1);
}

.app-header {
  background-color: rgb(233, 233, 233);
}

.book-list__item {
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.33s ease-in;
  font-size: 14px;
}
.book-list__item:hover {
  background: white !important;
  transform: scale(1.05);
}

#backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: all 0.33s ease-in;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
#backdrop .modal {
  width: 80vw;
  height: 90vh;
  left: 10vw;
  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
  background-color: #f4f4f4;
  border-radius: 50px 50px 0 0;
  padding: 30px;
  transition: all 0.33s ease-in;
}
#backdrop .btn-close {
  top: 30px;
  right: 30px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 50%;
}
#backdrop .btn-close path {
  fill: white;
}
#backdrop.visible {
  visibility: visible;
  opacity: 1;
}
#backdrop.visible .modal {
  transform: translateY(0);
  opacity: 1;
}