body {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: $bodyBc;
}
.page-width {
    max-width: 1400px;
    margin: 0 auto;
}

button {
    transition: all 0.3s ease-in;
    &:disabled {
        opacity: 0;
    }
    &:not(:disabled):hover {
        transform: scale(1.1);
    }
}
input:focus,
textarea:focus {
    outline: 2px solid $accent;
    border: none;
} 