// Media screen viewport
$maxMobile: 767px;

// Colors:
$bodyBc: #f4f4f4;
$bodyBcDark: rgb(20, 20, 20);
$bodyDark: rgb(199, 199, 199);
$accent: rgb(46, 9, 147);

// Transitions:
$transitionDefault: all 0.33s ease-in;

// Shadows:
$boxShadowDefault: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;